%fieldset
  = f.alert_message "Please fix the following problems:", error_summary: false
  = f.email_field :email, label: 'Email Address', value: email_value
  = f.password_field :password
  = f.password_field :password_confirmation, label: 'Confirm Password'
  = f.text_field :full_name, label: 'Full Name', value: name_value
