%section.advanced_search.container
  = form_tag advanced_search_videos_path, class: 'form-horizontal', method: :get do
    %header
      %h1 Advanced Search
    .form-group
      .col-sm-6
        = search_field_tag :query, params[:query], placeholder: "Search videos by title, description", class: 'form-control'
    .form_group
      .col-sm-6
        .checkbox
          %label
            = check_box_tag :reviews, 'y', params[:reviews] == 'y'
            Include Reviews
    .form-group
      %br/
      %br/
      .row.average_rating_label Average Rating
      = label_tag :rating_from, "From:", class: 'col-sm-1 control-label'
      .col-sm-2
        = select_tag :rating_from, options_for_select((10..50).map { |n| n /10.0}, params[:rating_from]), include_blank: true, class: 'form-control'
      = label_tag :rating_to, "To:", class: 'col-sm-1 control-label'
      .col-sm-2
        = select_tag :rating_to, options_for_select((10..50).map { |n| n /10.0}, params[:rating_to]), include_blank: true, class: 'form-control'
    .form-group
      .col-sm-6
        = button_tag(type: "submit", class: "btn btn-primary") do
          %span.glyphicon.glyphicon-search
          Search
    %hr
    - unless params[:query].nil?
      %h2.results_count= result_count(params[:query], @videos)
      - @videos.each do |video|
        %article.video.row
          .video_data
            %figure.col-sm-2
              = link_to video do
                =image_tag(video.small_cover_url)
              .video_body.col-sm-10
                %header
                  %h3= video.title
                  %em.label.label-highlight= video.title
                %p.video_description= video.description
