%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        = image_tag @video.large_cover_url
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= @video.average_rating
        %p= @video.description
        .actions
          = link_to "Watch Now", @video.video_url, class: 'btn btn-primary'
          = @video.add_or_remove_from_queue_button(current_user)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review] do |f|
        %fieldset
          .row
            = f.alert_message "Please fix the following problems:", error_summary: false
            = f.select :rating, ratings_choices, { label: "Rate this video" }, wrapper_class: 'col-sm-3'
          .row
            = f.text_area :body, label: "Write Review", rows: "6", wrapper_class: 'col-sm-8'
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit"
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@video.reviews.count})
        - if @video.reviews.any?
          %ul
            - @video.reviews.each do |review|
              %article.review
                %li.row
                  .col-sm-2
                    %span Rating: #{review.rating} / 5
                    %p by #{link_to review.user.full_name, review.user}
                  .col-sm-8
                    %p= review.body
