%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        = image_tag @video.large_cover_url
      .video_info.col-sm-3
        %header
          %h3= @video.title
          - if @video.reviews.any?
            %span Rating: #{@video.average_rating}/5.0
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          %a.btn.btn-default(href="") + My Queue

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review] do |f|
        %fieldset
          .row
            = f.alert_message "Please fix the following problems:", error_summary: false
            = f.select :rating, [["5 Stars", 5], ["4 Stars", 4], ["3 Stars", 3], ["2 Stars", 2], ["1 Star", 1]], { label: "Rate this video" }, wrapper_class: 'col-sm-3'
          .row
            = f.text_area :body, label: "Write Review", rows: "6", wrapper_class: 'col-sm-8'
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit"    
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@video.reviews.count})
        - if @video.reviews.any?  
          %ul
            - @video.reviews.each do |review|
              %article.review
                %li.row
                  .col-sm-2
                    %span Rating: #{review.rating} / 5
                    %p by <a href=""> #{review.user.full_name} </a>
                  .col-sm-8
                    %p= review.body
